@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "JetBrains Mono", monospace;
}

body.dark {
    background-color: #1a1a1a;
    color: white;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark p {
    color: white;
}